footer {
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 17px;
    height: 50vh;
    background-color: dimgray;
    padding: 100px 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
}
footer h1{
    font-size: 40px;
}
footer h3{
    font-size: 25px;
}

footer > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
