nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  height: 10vh;
  align-items: center;
  background-color: lightgray;
  z-index: 1;
}

nav h1 {
  font-size: 40px;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 5px;
}

nav ul li a:hover {
  text-shadow: 1px 1px 1px black;
  box-shadow: 1px 1px 5px 1px black;
  color: white;
  background-color: gold;
}
